<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Login</a></li>
    <li><a ng-href="#">About</a></li>
  </ul>
  <!--<h3 class="text-muted">Foostats</h3>-->
  <h1>Foostats</h1>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Foostats!</h1>
    <p class="lead">
    <p><a class="btn btn-lg btn-success" ng-href="#">Start a game! <span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="images/chart.svg"/>
      <p>
        Organize a tournament or play a casual game.
      </p>
    </div>
    
    <div class="col-md-4">
      <img src="images/soccer.svg">
      <p>
        See your past game and learn how to improve.
      </p>
    </div>
    
    <div class="col-md-4">
      <img src="images/trophy.svg">
      <p>Compete and enter your score for fame and glory.
      </p>
    </div>

  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Foostats team</p>
</div>
